.gallery-image img {
  width: 100%;
}

.header-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: block;
  margin: 0 auto;
  text-align: center; /*IE*/
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  padding: 16px 16px;
}
header nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
  color: #3586d8;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #291722;
  margin-top: 20px;
  height: 100px;
 
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 0px;
}

footer ul li {
  display: block;
  padding: 0 0 10px 0;
}

footer ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
  color: #ffffff;
}

.footer-sm {
  width: 32px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}
